<section class="about-me section" id="about">
  <div class="container">
    <h2 class="visually-hidden">About Me</h2>
    <div class="about-me__box">
      <div class="about-me-text-section">
        <h3 class="iworkwith">
          I work with people all over the world to create impressive and
          <span class="highlight">functional</span>
          <span class="gray">websites</span> that reflect each client's unique
          personality.
        </h3>
      </div>
      <picture class="about-me__image">
        <source
          srcset="
            ./img/about-me/myimg@1x.jpg 1x,
            ./img/about-me/myimg@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img
          src="./img/about-me/myimg@1x.jpg"
          alt="Photo of Lloyd Jefferson"
          width="704"
          height="700"
        />
      </picture>
    </div>

    <ul class="accordion">
      <li class="accordion-item open">
        <div class="accordion-header">
          <h3>About Me</h3>
          <button class="accordion-toggle" aria-label="Toggle content"></button>
        </div>
        <div class="accordion-content">
          <p class="accordion-content-first">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p>
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="accordion-item">
        <div class="accordion-header">
          <h3>Role</h3>
          <button class="accordion-toggle" aria-label="Toggle content"></button>
        </div>
        <div class="accordion-content">
          <p>Frontend development</p>
          <p>HeadlessCMS, WordPress</p>
          <p>Blender (enjoy)</p>
        </div>
      </li>
      <li class="accordion-item">
        <div class="accordion-header">
          <h3>Education</h3>
          <button class="accordion-toggle" aria-label="Toggle content"></button>
        </div>
        <div class="accordion-content">
          <p>2018-2019 | Frontend Development Diploma, QUT IT</p>
          <p>2020-2021 | Advanced Web Development Certificate, QUT IT</p>
          <p>2022-2022 | Advanced Blender Animation Techniques, Udemy</p>
        </div>
      </li>
    </ul>

    <!-- SwiperJS Skills Slider -->
    <!-- <div class="skills-slider-wrapper">
      <div class="skills-slider aboutMe-swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide active"><span>HTML/CSS</span></li>
          <li class="swiper-slide"><span>JavaScript</span></li>
          <li class="swiper-slide"><span>React</span></li>
          <li class="swiper-slide"><span>Node.js</span></li>
          <li class="swiper-slide"><span>React Native</span></li>
          <li class="swiper-slide"><span>Soft Skills</span></li>
          <li class="swiper-slide"><span>MySQL</span></li>
        </ul>
        <button type="button" class="aboutMe-swiper-button-next">
          <svg class="reviews-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div> -->
  </div>
</section>
