<section class="section">
    <h2 class="text-section">BENEFITS OF WORKING WITH ME</h2>
    <div class="content-wrapper">
    <ul class="benefits-list">
        <li class="column">
            <div class="icons-box">
                <svg class="icon-benefits" width="24" height="24">
                    <use href="/src/img/sprite.svg#benefits-icon1"></use>
                </svg>
            </div>
            <h3 class="text">Expertise</h3>
            <p class="text-column">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
        </li>

        <li class="column">
            <div class="icons-box">
                <svg class="icon-benefits" width="24" height="24">
                    <use href="/src/img/sprite.svg#benefits-icon2"></use>
                </svg>
            </div>
            <h3 class="text">Communication</h3>
            <p class="text-column">Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
        </li>

        <li class="column">
            <div class="icons-box">
                <svg class="icon-benefits" width="24" height="24">
                    <use href="/src/img/sprite.svg#benefits-icon3"></use>
                </svg>
            </div>
            <h3 class="text">Art</h3>
            <p class="text-column">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
        </li>

        <li class="column">
            <div class="icons-box">
                <svg class="icon-benefits" width="24" height="24">
                    <use href="/src/img/sprite.svg#benefits-icon4"></use>
                </svg>
            </div>
            <h3 class="text">Urgent execution</h3>
            <p class="text-column">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
        </li>
    </ul>
    <a href="#work-together" class="benefits-link">Order the project</a>
</div>
</section>
<section id="work-together"></section>

