<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="nav-logo" href="./index.html" aria-label="Site logo">
                <img class="logo-img" src="/img/logo.jpg" alt="Site logo" srcset="" width="80"
                    height="80">jefferson*</a>
            <div class="menu">
                <button class="menu-btn" id="menu">Menu</button>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link {=$highlight-curr}" href="#AboutMe">About&nbsp;me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {=$highlight-curr}" href="#Benefits">Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {=$highlight-curr}" href="#Projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {=$highlight-curr}" href="#FAQ">FAQ</a>
                    </li>
                </ul>
            </div>
            <a class="nav-orderBtn button" href="#WorkTogether" aria-label="Go to order form">Order the project</a>
        </nav>
    </div>
</header>