<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="nav-logo" href="./index.html" aria-label="site logo">
                <img class="logo-img" src="/img/logo.jpg" alt="Site logo" width="80" height="80">jefferson*</a>
            <button class="header-openmenu hdr-btn" id="menu"><span class="menu-label"
                    aria-label="open menu">Menu</span>
                <svg class="header-burger hdr-icon" width="28" height="28">
                    <use href="./img/sprite.svg#burger"></use>
                </svg>
            </button>
            <div class="menu">
                <button class="header-closemenu hdr-btn">
                    <svg class="hdr-icon" width="28" height="28">
                        <use href="./img/sprite.svg#cross"></use>
                    </svg>
                </button>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link {=$highlight-curr}" href="#about-me">About&nbsp;me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {=$highlight-curr}" href="#benefits">Benefits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {=$highlight-curr}" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {=$highlight-curr}" href="#faq">FAQ</a>
                    </li>
                </ul>
                <a class="nav-orderbtn" href="#work-together" aria-label="Go to order form">Order the project</a>
            </div>
        </nav>
    </div>
</header>