<style>
  .hero {
    background-image: url(../img/hero/hero_m@1x.webp),
      linear-gradient(
        to right,
        #ed3b44 0%,
        #69292d 32.27%,
        #1c1d20 50.32%,
        #1c1d20 100%
      );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/hero_m@2x.webp),
        linear-gradient(
          to right,
          #ed3b44 0%,
          #69292d 32.27%,
          #1c1d20 50.32%,
          #1c1d20 100%
        );
    }
  }

  @media only screen and (min-width: 768px) {
    .hero {
      background-image: url(../img/hero/hero_t@1x.webp),
        linear-gradient(
          to right,
          #ed3b44 0%,
          #69292d 32.27%,
          #1c1d20 50.32%,
          #1c1d20 100%
        );
      padding-top: 300px;
      padding-bottom: 32px;
    }
    @media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
        background-image: url(../img/hero/hero_t@2x.webp),
          linear-gradient(
            to right,
            #ed3b44 0%,
            #69292d 32.27%,
            #1c1d20 50.32%,
            #1c1d20 100%
          );
      }
    }
  }

  @media only screen and (min-width: 1440px) {
    .hero {
      background-image: url(../img/hero/hero_d@1x.webp),
        linear-gradient(
          to right,
          #ed3b44 0%,
          #69292d 32.27%,
          #1c1d20 50.32%,
          #1c1d20 100%
        );
    }
    @media only screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .hero {
        background-image: url(../img/hero/hero_d@2x.webp),
          linear-gradient(
            to right,
            #ed3b44 0%,
            #69292d 32.27%,
            #1c1d20 50.32%,
            #1c1d20 100%
          );
      }
    }
  }
</style>

<section class="hero section" id="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello.<br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-social">
      <li>
        <a
          class="hero-social-link hero-socmedia"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >IG</a
        >
      </li>
      <li>
        <a
          class="hero-social-link hero-socmedia"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >FB</a
        >
      </li>
      <li>
        <a
          class="hero-social-link hero-socmedia"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >YT</a
        >
      </li>
      <li>
        <a
          class="hero-social-link hero-socmedia"
          href="https://github.com/Zakhar-T"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >GH</a
        >
      </li>
      <li>
        <a
          class="hero-social-link hero-mail"
          href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
