<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Hello. I’m Fullstack developer Lloyd Jefferson.</h1>
    <ul class="soc-list">
      <li class="soc-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="socials-icon" width="" height="19">
            <use href="../img/icons.svg#icon-IG"></use></svg
        ></a>
      </li>
      <li class="soc-item">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="socials-icon" width="" height="19">
            <use href="../img/icons.svg#icon-FB"></use></svg
        ></a>
      </li>
      <li class="soc-item">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        ></a>
        <svg class="socials-icon" width="" height="19">
          <use href="../img/icons.svg#icon-YT"></use>
        </svg>
      </li>
      <li class="soc-item">
        <a
          class="social-link"
          href="https://zakhar-t.github.io/TeamProject_Portfolio_PG7/"
          target="_blank"
        >
          <svg class="socials-icon" width="" height="19">
            <use href="../img/icons.svg#icon-GH"></use></svg
        ></a>
      </li>
      <li class="email-item">
        <a class="social-link" href="">
          <svg class="" width="" height="19">
            <use href="../img/icons.svg#icon-lloydjeffersongmailcom"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
