<section class="hero section">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello.<br />I’m Fullstack developer <br />Lloyd Jefferson.
    </h1>
    <ul class="soc-list">
      <li class="soc-item">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >IG</a
        >
      </li>
      <li class="soc-item">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >FB</a
        >
      </li>
      <li class="soc-item">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >YT</a
        >
      </li>
      <li class="soc-item">
        <a
          class="social-link"
          href="https://zakhar-t.github.io/TeamProject_Portfolio_PG7/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >GH</a
        >
      </li>
      <li class="email-item">
        <a
          class="social-link"
          href="mailto:ovgrozdova79@gmail.com"
          rel="noopener noreferrer nofollow"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
