<section class="projects" id="projects">
  <div class="container">
    <h2 class="proj-title">Projects</h2>
    <div class="proj-swiper swiper">
      <ul class="proj-wrap swiper-wrapper">
        <!-- slide 1 -->
        <li class="proj-slide swiper-slide">
          <div class="proj-content">
            <ul class="proj-list">
              <li class="proj-tag">
                <p>#react</p>
              </li>
              <li class="proj-tag">
                <p>#js</p>
              </li>
              <li class="proj-tag">
                <p>#node js</p>
              </li>
              <li class="proj-tag">
                <p>#git</p>
              </li>
            </ul>
            <p class="proj-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="proj-link"
              href="https://zakhar-t.github.io/TeamProject_Portfolio_PG7/"
              target="_blank"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>
          <div class="proj-img">
            <picture>
              <source
                srcset="
                  ./img/projects/book@1x.webp 1x,
                  ./img/projects/book@2x.webp 2x
                "
                media="(min-width: 376px)"
              />

              <source
                srcset="
                  ./img/projects/book_mob@1x.webp 1x,
                  ./img/projects/book_mob@2x.webp 2x
                "
                media="(max-width: 375px)"
              />
              <img
                src="./img/projects/book@1x.webp"
                alt="Read journey registration"
                width="614"
                height="385"
                class="projects-img"
              />
            </picture>
          </div>
        </li>

        <!-- slide 2 -->
        <li class="proj-slide swiper-slide">
          <div class="proj-content">
            <ul class="proj-list">
              <li class="proj-tag">
                <p>#react</p>
              </li>
              <li class="proj-tag">
                <p>#js</p>
              </li>
              <li class="proj-tag">
                <p>#node js</p>
              </li>
              <li class="proj-tag">
                <p>#git</p>
              </li>
            </ul>
            <p class="proj-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="proj-link"
              href="https://zakhar-t.github.io/TeamProject_Portfolio_PG7/"
              target="_blank"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>
          <div class="proj-img">
            <picture>
              <source
                srcset="
                  ./img/projects/pet@1x.webp 1x,
                  ./img/projects/pet@2x.webp 2x
                "
                media="(min-width: 376px)"
              />

              <source
                srcset="
                  ./img/projects/pet_mob@1x.webp 1x,
                  ./img/projects/pet_mob@2x.webp 2x
                "
                media="(max-width: 375px)"
              />
              <img
                src="./img/projects/pet@1x.webp"
                alt="Pet love"
                width="614"
                height="385"
                class="projects-img"
              />
            </picture>
          </div>
        </li>

        <!-- slide 3 -->
        <li class="proj-slide swiper-slide">
          <div class="proj-content">
            <ul class="proj-list">
              <li class="proj-tag">
                <p>#react</p>
              </li>
              <li class="proj-tag">
                <p>#js</p>
              </li>
              <li class="proj-tag">
                <p>#node js</p>
              </li>
              <li class="proj-tag">
                <p>#git</p>
              </li>
            </ul>
            <p class="proj-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="proj-link"
              href="https://zakhar-t.github.io/TeamProject_Portfolio_PG7/"
              target="_blank"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>
          <div class="proj-img">
            <picture>
              <source
                srcset="
                  ./img/projects/register@1x.webp 1x,
                  ./img/projects/register@2x.webp 2x
                "
                media="(min-width: 376px)"
              />

              <source
                srcset="
                  ./img/projects/register_mob@1x.webp 1x,
                  ./img/projects/register_mob@2x.webp 2x
                "
                media="(max-width: 375px)"
              />
              <img
                src="./img/projects/register@1x.webp"
                alt="VocabBuilder register"
                width="614"
                height="385"
                class="projects-img"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="proj-nav-btn">
        <button type="button" class="proj-button-left proj-button">
          <svg width="24" height="24" class="proj-svg">
            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button type="button" class="proj-button-right proj-button">
          <svg width="24" height="24" class="proj-svg">
            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
