<section class="container">
    <h2 class="visually-hidden">Rewiews</h2>
    <div class="swiper">
        <ul class="rewiews-list"></ul>
    </div>
    <ul class="list-buttons">
        <li class="button-item">
            <button type="button" class="rewiews-button rewiews-button-left button-disabled">
                <svg class="icon icon-arrow-narrow-left" width="32" height="32">
                    <use href="../img/sprite.svg#icon-arrow-narrow-right"></use>
                </svg>
            </button>
        </li>
        <li class="button-item">
            <button type="button" class="rewiews-button rewiews-button-right button-next">
                <svg class="icon icon-arrow-narrow-right" width="32" height="32">
                    <use href="../img/sprite.svg#icon-arrow-narrow-right"></use>
                </svg>
            </button>
        </li>
    </ul>
</section>

<script type="module" src="../js/reviews.js"></script>