<section class="work-together-section section" id="work-together">
    <div class="work-together-container container ">
        <!-- logo, title -->
        <div class="work-together-container-wrapper">
            <h2 class="work-together-title">
                <img class="work-together-image" src="./img/work-together/logo.png" alt="Head icon" />
                Let's <span class="title-accent">work</span>TOGETHER
            </h2>
        </div>
        <!-- form -->
        <form class="work-together-form">
            <label class="work-together-form-laber">
                <input class="form-label-input input-js" name="userEmail" type="email" placeholder="clients@gmail.com"
                    pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required />
                <span class="input-span email-span-js"></span>
            </label>

            <label class="work-together-form-laber">
                <input class="form-label-input input-js" name="userComments" type="text" id="user-comments"
                    placeholder="comments" required />
                <span class="input-span comments-span-js"></span>
            </label>

            <button class="form-btn" type="submit">Send</button>

        </form>
        <!-- address -->
        <address class="work-together-address">
            <ul class="address-list">
                <li class="address-item email-js">
                    <a class="address-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                </li>
                <li class="address-item phone-js">
                    <a class="address-link" href="tel:+3801111111111">+380 11 1111 11 11</a>
                </li>
            </ul>
        </address>
    </div>
</section>