.about-me__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .about-me__box {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me__box{
    flex-direction: row;
    margin-bottom: 96px;
  }
}

.about-me-text-section {
  background-color: #242527;
  border-radius: 24px;
  padding: 32px;
}

@media screen and (min-width: 768px) {
  .about-me-text-section {
    padding: 64px;
  }
}

.iworkwith {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 240px;
}

@media only screen and (min-width: 768px) {
  .iworkwith {
    font-size: 38px;
    line-height: 1.05;
    margin-bottom: 372px;
  }
}

.about-me-text-section .highlight {
  color: #e74c3c;
}

.about-me-text-section .gray {
  color: #FAFAFA66;
}

@media (max-width: 768px) {
  .about-me__container {
    flex-direction: column;
  }
}

.about-me__image {
  display: block;
  border-radius: 24px;
  height: 500px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .about-me__image {
    height: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me__image {
    height: 700px;
    width: 680px;
    flex-shrink: 0;
  }
}

.about-me__image img {
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
  overflow: hidden;
}

/* Accordion Styles */

.accordion-item {
  padding-bottom: 32px;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .accordion-item {
    margin-bottom: 32px;
  }
}

.accordion-item.open {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .accordion-item.open {
    padding-bottom: 32px;
  }
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-item.open > .accordion-header {
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .accordion-item.open > .accordion-header {
    margin-bottom: 8px;
  }
}

.accordion-header h3 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
}

.accordion-toggle {
  width: 24px;
  height: 24px;
  background: url('../img/accordion-icon.svg') no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Rotate icon if open */
.accordion-item.open .accordion-toggle {
  transform: rotate(180deg);
}

.accordion-content {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .accordion-item.open > .accordion-content {
    width: 612px;
    padding-right: 68px;
    margin-left: auto;
  }
}

.accordion-content p {
  margin-bottom: 10px;
}

.accordion-content > p:last-child {
  margin-bottom: 0;
}

.accordion-content > .accordion-content-first {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .accordion-content>.accordion-content-first {
    margin-bottom: 16px;
  }
}

.accordion-item.open .accordion-content {
  display: block;
}

.skills-slider {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}


.skills-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 200px !important;
  height: 200px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
  flex: 0 0 auto;
  width: auto;
}

.skills-slider .swiper-slide span {
  display: block;
  text-align: center;
}

.skills-slider .swiper-slide.active {
  background-color: #e74c3c;
}

.skills-slider .aboutMe-swiper-button-next,
.skills-slider .aboutMe-swiper-button-prev {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 10px;
}

.skills-slider .aboutMe-swiper-button-next:hover,
.skills-slider .aboutMe-swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.aboutMe-swiper{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1200px !important;
  overflow: hidden;
  
}