.covers {
    padding: 0;
    background-color: rgba(217, 217, 217, 0.04);
}

.covers-container {
    position: relative;
    height: 508px;
    padding: 0;
    overflow: hidden;

    background-image: url(../img/covers/bg/coversbg_m@1x.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .covers-container {
        background-image: url(../img/covers/bg/coversbg_m@2x.webp);
    }
}

@media only screen and (min-width: 768px) {
    .covers-container {
        height: 960px;
        background-image: url(../img/covers/bg/coversbg_t@1x.webp);
    }

    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .covers-container {
            background-image: url(../img/covers/bg/coversbg_t@2x.webp);
        }
    }
}

@media only screen and (min-width: 1440px) {
    .covers-container {
        background-image: url(../img/covers/bg/coversbg_d@1x.webp);
    }

    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .covers-container {
            background-image: url(../img/covers/bg/coversbg_d@2x.webp);
        }
    }
}



.covers-wrapper {
    position: absolute;
    top: -360px;
    left: -1640px;
    transform: rotate(17deg);
}

.covers-set {
    position: relative;
    display: flex;
    transform: translateY(-185px);
    gap: 22px;
    margin-bottom: 22px;
    height: 163px;
}

.covers-set:nth-child(1) {
    left: 0px;
}

.covers-set:nth-child(2) {
    left: 150px;
}

.covers-set:nth-child(3) {
    left: 300px;
}

.covers-set:nth-child(4) {
    left: 150px;
}

.covers-set:nth-child(5) {
    left: 0;
}

@media only screen and (min-width: 768px) {
    .covers-set {
        height: 314px;
        gap: 22px;
        margin-bottom: 22px;
    }
}

.covers-set picture {
    display: block;
    height: 100%;
    min-width: 282px;
}

@media only screen and (min-width: 768px) {
    .covers-set picture {
        min-width: 544px;
    }
}

.covers-set-img {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
}

.covers.onScreen .covers-set-img {
    white-space: nowrap;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.covers.onScreen .covers-set:nth-child(1) .covers-set-img {
    animation-name: marqueeLine-left;
}

.covers.onScreen .covers-set:nth-child(2) .covers-set-img {
    animation-name: marqueeLine-right;
}

.covers.onScreen .covers-set:nth-child(3) .covers-set-img {
    animation-name: marqueeLine-left;
}

.covers.onScreen .covers-set:nth-child(4) .covers-set-img {
    animation-name: marqueeLine-right;
}

.covers.onScreen .covers-set:nth-child(5) .covers-set-img {
    animation-name: marqueeLine-left;
}

@keyframes marqueeLine-left {
    from {
        transform: translateX(250%);
    }

    to {
        transform: translateX(-288%);
    }
}

@media only screen and (min-width: 768px) {
    @keyframes marqueeLine-left {
        from {
            transform: translateX(250%);
        }

        to {
            transform: translateX(-270%);
        }
    }
}

@keyframes marqueeLine-right {
    from {
        transform: translateX(-250%);
    }

    to {
        transform: translateX(+288%);
    }
}

@media only screen and (min-width: 768px) {
    @keyframes marqueeLine-right {
        from {
            transform: translateX(-250%);
        }

        to {
            transform: translateX(+270%);
        }
    }
}