.hero {
    background-image: 
            url(../img/hero/Glass\ effect\ 2.png),
            linear-gradient(to right, #ed3b44 0%,
                #69292d 32.27%,
                #1c1d20 50.32%,
                #1c1d20 100%);
        backdrop-filter: blur(4px);
        background-repeat: no-repeat;
       background-position: center;
        background-size: cover;
        width: 100%;
        padding-top: 0;
}
@media only screen and (min-width: 768px) {
    .hero {
       
        background-position: 400%;
        padding-bottom: 32px;
    }
}
@media only screen and (min-width: 1440px) {
.hero{
    
    padding-left: 178px;
   }
}
.hero-container{
    width: 100%;
    margin: 0 auto;
    padding-top: 281px;
    
}
@media only screen and (min-width: 768px) {
.hero-container{
    padding-top: 300px 0 0;
}
}
@media only screen and (min-width: 1440px) {
    .hero-container {
        padding-left: 0;
        padding-right: 0;
        
}}
.hero-title {
    font-weight: 500;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--main-text);
    margin: 0 auto;
    padding: 0 0;
}
@media only screen and (min-width: 768px){
    .hero-title{
        font-size: 90px;
        padding: 0 0;
    }
}
@media only screen and (min-width: 1440px) {
    .hero-title {
        max-width: 1084px;
        
    }}
.soc-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
       padding: 212px 0 0;
}
@media only screen and (min-width: 768px){
    .soc-list{
        padding: 187px 0 0;
              justify-content: flex-end;
}}
@media only screen and (min-width: 768px){
    .soc-list{
        padding: 243px 0 0;
    }
}
.soc-item{
    width: 37px;
    height: 37px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
        display: flex;
            justify-content: center;
            align-items: center;
        }
@media only screen and (min-width: 768px){
.soc-item{
width: 55px;
height: 55px;
}
}                       
.soc-item:hover,
.soc-item:focus {
    background-color: #E0373F;;}
.social-link {
    display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 14px;
}
@media only screen and (min-width: 768px){
    .social-link{
        font-size: 16px;
    }
}
.email-item{
    width: 178px;
    height: 37px;
    background-color: transparent;
        border-radius: 60px;
        border: 1px solid rgba(250, 250, 250, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
}
@media only screen and (min-width: 768px){
    .email-item {
width: 223px;
    height: 55px;
    }
}
  .email-item:hover,
.email-item:focus {
    background-color: #E0373F;
}
