.projects {
    padding-top: 32px;
    padding-bottom: 32px;
}

.proj-container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

.proj-title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.proj-swiper {
    overflow: hidden;
}

.proj-wrap {
    margin-bottom: 32px;
}

.proj-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.proj-content {
    border-radius: 24px 24px 0 0;
    background-color: #fafafa;
    padding: 32px;
    color: #1c1d20;
    font-weight: 500;
}

.proj-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 96px;
}

.proj-tag {
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    font-size: 16px;
    letter-spacing: -0.02em;
}

.proj-text {
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

.proj-link {
    display: inline-block;
    background-color: #ed3b44;
    border-radius: 60px;
    padding: 13px 32px;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    transition: background-color 0.3s ease;
    }

.proj-link:hover,
.proj-link:focus {
    background: #e0373f;
        }

.proj-img {
    padding: 100px 16px;
    background-color: #242527;
    border-radius: 0 0 24px 24px;
}

.proj-nav-btn {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.swiper-button-left,
.swiper-button-right {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-btn-disabled {
    border: 1px solid rgba(250, 250, 250, 0.2);
}

.proj-svg {
    fill: none;
    stroke: #ffffff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.proj-btn-disabled .proj-svg {
    stroke: #3b3b3b;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .projects {
        padding: 48px 0;
    }

    .proj-container {
        max-width: 704px;
        padding: 0 32px;
    }

    .proj-wrap {
        margin-bottom: 64px;
    }

    .proj-slide {
        box-shadow: none;
    }

    .proj-content {
        padding: 64px;
    }

    .proj-list {
        margin-bottom: 164px;
    }

    .proj-tag {
        padding: 18px;
    }

    .proj-text {
        font-size: 44px;
        line-height: 1;
    }

    .proj-link {
        padding: 18px 50px;
    }

    .proj-img {
        padding: 120px 45px;
    }

    .proj-nav-btn {
        gap: 20px;
    }

    .swiper-button-left,
    .swiper-button-right {
        padding: 18px;
    }

    .proj-svg {
        width: 32px;
        height: 32px;
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
    .projects {
        padding: 82px 0;
    }

    .proj-container {
        max-width: 1440px;
    }

    .proj-slide {
        flex-direction: row;
    }

    .proj-content {
        border-radius: 24px 0 0 24px;
        width: 50%;
    }

    .proj-list {
        margin-bottom: 223px;
    }

    .proj-img {
        border-radius: 0 24px 24px 0;
        padding: 120px 37px;
        width: 50%;
    }
}